<footer>
    <!-- Footer content goes here -->
    <div class="footer">
        <div class="container">
            <div class="row footer-description">
                <div class="col-md-6">
                    <p>&copy; 2023 IT3080. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <p class="text-end"><a href="https://help.shopee.vn/portal/article/77242">Terms of Service</a> | <a href="https://help.shopee.vn/portal/article/77244">Privacy Policy</a></p>
                </div>
                <div class="col-md-6">
                    <div class="JMCbqu">THEO DÕI CHÚNG TÔI TRÊN</div>
                    <ul class="SOb2n7">
                        <li class="o8Gbgv">
                            <a href="https://www.facebook.com/ShopeeVN" class="FA0WjS" title="" target="_blank" rel="noopener noreferrer"><img class="_6ZyW8Y" src="https://down-vn.img.susercontent.com/file/2277b37437aa470fd1c71127c6ff8eb5"><span class="xTjlXx">Facebook</span></a>
                        </li>
                        <li class="o8Gbgv">
                            <a href="https://instagram.com/Shopee_VN" class="FA0WjS" title="" target="_blank" rel="noopener noreferrer"><img class="_6ZyW8Y" src="https://down-vn.img.susercontent.com/file/5973ebbc642ceee80a504a81203bfb91"><span class="xTjlXx">Instagram</span></a>
                        </li>
                        <li class="o8Gbgv">
                            <a href="https://www.linkedin.com/company/shopee" class="FA0WjS" title="" target="_blank" rel="noopener noreferrer"><img class="_6ZyW8Y" src="https://down-vn.img.susercontent.com/file/f4f86f1119712b553992a75493065d9a"><span class="xTjlXx">LinkedIn</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>